
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link href="{% static 'WhoAreYou/styleshome.css' %}" rel="stylesheet"> 
    <link href="{% static 'WhoAreYou/Background.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&amp;display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <script src="G:\My Drive\Personal\MyWeb\WhoAreYou\static\WhoAreYou\app.js"></script>

</head>

<body>

<h1>1.Gallery, 2.News Feed, 3.Collab Bored</h1> 
</body>
</html>
